.smallBtn{
    max-width: 10vw;
    padding: 1vw;
    margin: 1vw;
}

.movieBtn{
    color: white;
    background-color: black;
    border: none;
    width: 30vw;
    height: 10vw;
    margin: 2vw;
}

.favoriteBtn{
    color: gold;
    background-color: black;
}

.deleteBtn{
    color: white;
    background-color: black;
}